@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Noto Sans', sans-serif;
}

.vertical-separator {
	width: 1px;
	background: rgb(194, 190, 190);
}
